<!-- jPages -->
<script type="text/javascript">
$(function(){
  /* initiate the plugin */
  $("div.pag-holder").jPages({
      containerID  : "pag-itemContainer",
      perPage      : 5,  /* num of items per page */
      startPage    : 1,
      startRange   : 4,
      midRange     : 4,
      endRange     : 4
  });
});
</script>

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        {% assign category = page.url | remove:'/' | capitalize %}
        {% if category == 'Html' %}
        {% assign category = category | upcase %}
        {% endif %}
        <h1>{{ category }}</h1>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <ul id="pag-itemContainer" style="list-style:none;">
            {% assign counter = 0 %}
            {% for post in site.categories[category] %}
            {% assign counter = counter | plus: 1 %}
            <li>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox">
                        <div class="ibox-content">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="btn-link">
                                <h2>{{ post.title }}</h2>
                            </a>
                            <div class="small m-b-xs">
                                <span class="text-muted">
                                    <i class="fa fa-clock-o"></i>
                                    {{ post.date | date: "%-d %b %Y" }}
                            </span>
                            </div>
                            <p>
                                {{ post.content | strip_html | truncate:100 }}
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% include pagination.html %}
    </div>
</div>
